pytesseract==0.3.10
easyocr==1.7.1
pillow==10.3.0
pdf2image==1.17.0
openai==1.12.0
anthropic==0.36.1
python-dotenv==1.0.1
transformers==4.37.2
sentencepiece==0.2.0
timm==0.9.12
torch==2.1.2
torchvision==0.16.2
pandas==2.2.1
numpy==1.26.4
regex==2023.12.25
sqlite-utils==3.35.2
streamlit==1.32.0
tqdm==4.66.2
python-dateutil==2.9.0.post0
opencv-python==4.9.0.80
python-box==6.0.2
ensure==1.0.2
pyyaml==6.0
joblib==1.2.0
-e .
